* {
    margin: 0;
    font-family: arial;
    border: border-box;
}

    /*   box 1   */
.nav_bar{
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav_logo {
    height: 50px;
    width : 100px
}
.logo {
    background-image: url("Camera Roll/download.png");
    background-size: cover;
    height: 50px;
    width : 100%;
}
.border{
    border: 1px solid transparent;
    padding: 4px;
}
.border:hover {
    border:1px solid white;
}

    /*  box 2   */
                         
.nav_address {
    color: #cccccc;
    font-size: 0.8 rem;
    font-family: arial;
    margin-left: 10px;
}
.address_icon {
    color : #ffffff;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.first_address {
    margin-left: 10px;
}
.location_emoji {
    margin-right: 5px;
}

    /*   box3   */

.nav_search {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid transparent;
}
.nav_search:hover {
    border: 2px solid orange;
}

.search_select {
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px ;
    height: 40px;
    width: 80px;
    background-color: #f3f3f3;
}
.search_input {
    height: 35px;
    width: 500px;
    font-size: 1rem;
}
.search_icon {
  height: 40px;
  width: 45px;
  background-color: #febd68;
  color: #0f1111;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 1.2rem;
}

    /*   box4     */
span {
    font-size: 0.7rem;
}
.nav_second {
    font-size: 0.75rem;
    font-weight: 700;
}

    /*   box5   */

    /*   box6     */
.nav_cart i {
    font-size: 30px;
}
.nav_cart {
    font-size: 0.85rem;
    font-weight: 700;
}

    /*   Panel    */
.panel {
    height :40px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.panel_option {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.85rem;
}
.panel_deals {
    font-size: 0.9rem;
    font-weight: 700;
}
i {
    color: white;
    font-weight: 700;
}

    /*    hero section   */
.hero_section {
    height: 380px;
    background-size: cover;
    background-image: url("Camera Roll/PC_Hero_3000x1200_Asin-toys-2x._CB547414496_.jpg");
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero_message {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: white;
    font-size: 0.85rem;
    margin-bottom: 25px;
    
}
.hero_message a {
    color: #007185;
}

    /*   Shop   */
.shop_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box {
    height: 400px;
    width: 22%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 20px;
}
/* .box1 {
    
} */
.box1_img {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-image: url("Camera Roll/Screenshot 2025-04-09 002438.png");
    margin-top: 20px;
    margin-bottom: 20px;
}
.box_content {
    margin-left: 20px;
    margin-right: 20px;
}
.box_content p {
    color: #007185;
    font-size: 0.8rem;
}

.box2_img {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-image: url("Camera Roll/Screenshot 2025-04-09 002408.png");
    margin-top: 20px;
    margin-bottom: 20px;
}
.box3_img {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-image: url("Camera Roll/Screenshot 2025-04-09 002451.png");
    margin-top: 20px;
    margin-bottom: 20px;
}
.box4_img {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-image: url("Camera Roll/Screenshot 2025-04-09 002511.png");
    margin-top: 20px;
    margin-bottom: 20px;
}
.box5_img {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-image: url("Camera Roll/Screenshot 2025-04-09 004007.png");
    margin-top: 20px;
    margin-bottom: 20px;
}
.box6_img {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-image: url("Camera Roll/Screenshot 2025-04-09 004040.png");
    margin-top: 20px;
    margin-bottom: 20px;
}
.box7_img {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-image: url("Camera Roll/Screenshot 2025-04-09 003756.png");
    margin-top: 20px;
    margin-bottom: 20px;
}
.box8_img {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-image: url("Camera Roll/Screenshot 2025-04-09 003808.png");
    margin-top: 20px;
    margin-bottom: 20px;
}

    /*     footer     */
footer {
    margin-top: 50px;
}
.foot_panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot_panel2 {
    background-color: #232f3e;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
ul {
    margin-top: 20px;
}
ul a {
    display: block;
    color: #dddddd;
    text-decoration: none;
    font-size: 0.85rem;
    margin-top: 10px;
}
ul a:hover {
    text-decoration:underline;
}

.foot_panel3 {
    /* margin-top: 100px; */
    border-top: 0.2px solid rgb(212, 202, 202);
    height: 70px;
    background-color: #232f3e;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo {
    background-image: url("Camera Roll/download.png");
    background-size: cover;
    height: 50px;
    width : 100px;
}
.languge {
    border: 1px solid white;
    padding: 10px;

}
.foot_panel4 {
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}
.pages a {
    color: #dddddd;
    text-decoration: none;
    font-size: 0.85rem;
    margin-top: 10px;
    margin-left: 10px;
}
.pages a:hover {
    text-decoration: underline;
}
i {
    background-color: #0f1111;
}